    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Welcome to <span class="mobile-block">Happy Kids Pre-School!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Hey folks, We Are</span>
                                <div class="animated-info">
                                    <span class="animated-item">100% Outdoor</span>
                                    <span class="animated-item">Child Centred</span>
                                    <span class="animated-item">Enrolling Now</span>
                                </div>
                        </h1>

                        <p>Happy Kids Pre-School and Montessori. Carnuff Little, Dean Hill, Navan Co. Meath.</p>
                        
                        <div class="custom-btn-group mt-4">
                          <a href="#" class="btn mr-lg-2 custom-btn"> 0469024853</a>
                          <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Enquire</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12" >
                    
                        <img src="../project/kidsdrawing.jpg" class="img-fluid"  style="width: 80%; margin-top: 50px;border-radius: 20px;" alt="svg image">
                   
                </div>

            </div>
        </div>
    </section>




    