<!-- CONTACT -->
<section class="contact py-5" id="contact">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-5 mr-lg-5 col-12">
          <div class="google-map w-100">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2364.220240965031!2d-6.572333984098769!3d53.66087458004617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48674540d76175ef%3A0xd1a47cd7c090d1b0!2sHappy%20Kids%20Preschool%20%26%20Montessori!5e0!3m2!1sen!2sie!4v1678306726908!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
              <div class="contact-info-item">
                <h3 class="mb-3 text-white">Say hello</h3>
                <p class="footer-text mb-0">0469024853</p>
                <p><a href="mailto:hello@company.co">louise@happykidspreschool.ie</a></p>
              </div>

              <ul class="social-links">
                  
                   <li><a href="https://www.instagram.com/happykidsnavan" class="uil uil-instagram" data-toggle="tooltip" data-placement="left" title="Instagram"></a></li>
                   
              </ul>
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="contact-form">
            <h2 class="mb-4">Want to chat about your child? Let's talk</h2>

            <form action="/contact" method="post">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <input type="text" class="form-control" name="name" placeholder="Your Name" id="name">
                </div>

                <div class="col-lg-6 col-12">
                  <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                </div>

                <div class="col-12">
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
                </div>

                <div class="col-lg-12 col-12">
                  <input type="text" class="form-control" name="verifybox" placeholder="What Is The Capital Of France" id="verifybox">
                </div>

                <div class="ml-lg-auto col-lg-5 col-12">
                  <input type="submit" class="form-control submit-btn" value="Send Button">
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- FOOTER -->
   <footer class="footer py-5">
        <div class="container">
             <div class="row">
              <div class="col-lg-12 col-12"> 
                <h4>To Opt Out Of Our Website Cookies <a href="/cancelCookie">click here</a></h4>
                <h4>To View Our Website Cookies Policy <a href="/cookiepolicy">click here</a></h4>
              <% if (isAuthenticated) { %>
                <p class="copyright-text text-center"><a href="/logout" >Log Out</a></a></p>
               

              <% if (user.adminRights == true) { %>
                
                <p class="copyright-text text-center"><a href="/administration">Admin</a></p>
              

                <% } %>
              <%} else { %>
               
                <p class="copyright-text text-center"><a href="/login" >Staff Log-In</a>  
            
              
                <a href="/signup" >Sign Up</a></p>
           
            <% } %>
              </div>
             </div>
              <div class="row">
                  <div class="col-lg-12 col-12">                                
                      <p class="copyright-text text-center">Copyright &copy; 2023 Happy Kids Pre School . All rights reserved</p>
                      <p class="copyright-text text-center">Designed by <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
                      <p class="copyright-text text-center">Developed By <a rel="nofollow" href="http://www.liammccabe.ie">LMC</a></p>
                  </div>
                  
             </div>
        </div>
        <% if(cookiePolicyAccept == 1){ %>
    
          <% } else{ %>  
        <div class="cookieAgree" id="cookieBar">
        <div class="cookiemodal2">
          <div class="cookieNotice">
            <h2 style="color:aliceblue">Cookies!</h2>
            <h4>Domain Cookies</h4>
                <p style="color:aliceblue">This website use a session cookie to enhance your user experience, so you can navigate through the site. No personal information is stored with this cookie and it is deleted once you leave the website.</p>
                  <h4>Third Party Cookies</h4>
                  <p style="color:aliceblue">This website embeds an interactive Google Map. Google will set cookies to store information and preferences about maps or other associated Google services on pages where we embed Google maps.  If you are logged into your Google account, your behaviour may be linked with your personal profile. You can prevent this by logging out of Google.  </p>
        
                  <p> <a href="/acceptCookie" class="btn custom-btn custom-btn-bg custom-btn-link">Agree</a></p>
                  <p> <a href="/rejectedCookie" class="btn custom-btn custom-btn-bg custom-btn-link">Reject</a></p>
          </div>
        </div>

        <% } %>
   </footer>

  <script src="../../jquery-3.3.1.min.js"></script>
  <script src="../../popper.min.js"></script>
  <script src="../../bootstrap.min.js"></script>
  <script src="../../Headroom.js"></script>
  <script src="../../jQuery.headroom.js"></script>
  <script src="../../owl.carousel.min.js"></script>
  <script src="../../smoothscroll.js"></script>
  <script src="../../custom.js"></script>



</body>
</html>