<%- include('../partials/header') -%>


<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
        <div class="row">
         
            <div class="col-lg-12 col-12">
                <h2 class="mb-4">Admin Section Only</h2>
           
            </div>



            <div class="col-lg-12 col-12">
                <div class="contact-form">
                  <h2 class="mb-4">Add A New About Section Here</h2>
      
                  <form action="/banana" enctype="multipart/form-data" method="post">
                    

                            
                      <div class="col-lg-12 col-12">
                        <input type="file" class="form-control" name="image" accept='image/*' style="height:auto">
                        
                      </div>
      
                      <div class="ml-lg-auto col-lg-5 col-12">
                        <input type="submit" class="form-control submit-btn" value="Send Button">
                      </div>
                    </div>
                  </form>
                </div>
              </div>

          
        </div>
    </div>
</section>




<%- include('../partials/footer') -%>