<%- include('../partials/header') -%>


<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
        <div class="row" style="text-align:center">
<h4>To Opt Out Of Our Website Cookies <a href="/cancelCookie">click here</a></h4>
            <div class="col-lg-12 col-12">
              <h2 class="mb-4">Cookies</h2>
              <p>Cookies are small text files that are placed on your computer. You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can disable cookies in your browser.</p>
              
                
              <h4>Domain Cookies</h4>
              <p>This website use a session cookie to enhance your user experience, so you can navigate through the site. No personal information is stored with this cookie and it is deleted once you leave the website.</p>

              <h4>Third Party Cookies</h4>
              <p>Google Maps
                https://policies.google.com/technologies/cookies
                This website embeds an interactive Google Map. Google will set cookies to store information and preferences about maps or other associated Google services on pages where we embed Google maps.  If you are logged into your Google account, your behaviour may be linked with your personal profile. You can prevent this by logging out of Google.</p>

                <h4>Privacy Statement</h4>
                <p>This privacy statement covers the use of this website only.
 
                    In this privacy statement references to “we”, “us” and “our” are to Reddington Childcare Centres Ltd. References to “our Website” or “the Website” are to www.galwaychildcare.ie.  “You” refers to any user of this website www.galwaychildcare.ie.  Any other websites which may be linked to by our website, or may link to our website are subject to their own privacy statement and policy, which may differ from ours.</p>

                
                <h4>Personal Data</h4>
                <p>If you choose to contact us using a form on our website, or by clicking an email address link, you will be sending us your personal data. You should never send sensitive personal data like credit card or bank details by email. Only our employees and/or sub-contractors who help us run our business have access to data submitted via our website.</p>

                
                <h4>Agreement</h4>
                <p>We assume that all visitors using our website, clients and potential clients have carefully read this document and agree to its contents. If someone does not agree with this privacy policy, they should refrain from using our website. This privacy statement may change from time to time in line with legislation. We will not inform clients or website users of these changes. We recommend that you check this page occasionally for any privacy statement changes.</p>
  


              <h2 class="mb-4">Find Us & Chat To Us!</h2>
            </div>

        </div>
    </div>
</section>



    

    

    

<%- include('../partials/footer') -%>
