<%- include('../partials/header') -%>


<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
              <h2 class="mb-4">Thank You</h2>
              <p>You have sent a message to Happy Kids Pre School.We will get back to you as soon as possible. We try and respond to all queries and comments within 24 hours.</p>
              
                
              <h4>Phone</h4>
              <p>0469024853</p>

              <h4>Email</h4>
              <p>louise@happykidspreschool.ie</p>


              <h2 class="mb-4">Find Us & Chat To Us!</h2>
            </div>

        </div>
    </div>
</section>



    

    

    

<%- include('../partials/footer') -%>
