<%- include('../partials/header') -%>


<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
       

<h2>OOOPS!</h2>
        <p>It looks like you got the answer to our security question wrong. Go <a href="/contact" > back </a>and try again the question is:
            <br>
            What is he capital of France?
            <br>
            <br>
            Answers should be only one word...
          <br>
          <a href="/contact" class="w3-button w3-black"> Back </a>
        </p>

        
    
</div>
</section>


<%- include('../partials/footer') -%>